
    <section class="ct-u-paddingTop100 ct-u-paddingBottom70 ct-u-backgroundGray">
        <div class="container">
            <div class="text-center ct-u-paddingBottom60">
                <h2 class="ct-u-sectionHeader ct-u-sectionHeader--primary text-uppercase">
                    S'authentifier
                </h2>
            </div>
            <div class="row col-xs-4 col-xs-offset-4">
                <div class="col-sm-12 ct-u-paddingTop20">
                    <div class="ct-contactForm">
                        <div class="successMessage alert alert-success" style="display: none">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            Bienvenue!
                        </div>
                        <div class="errorMessage alert alert-danger" style="display: none">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            Oups! Une erreur s'est produite. Veuillez réessayer.
                        </div>
                        <form #f="ngForm" role="form" action="" method="post" class="contactForm validateIt"
                              data-show-errors="true">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-12">
                                            <div class="form-group ">
                                                <input id="email" placeholder="Email" required type="email" name="email"
                                                       class="form-control" autofocus="" ngModel #id="ngModel">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-12">
                                            <div class="form-group">
                                                <input id="password" placeholder="Mot de passe" required type="password" name="password"
                                                       class="form-control" ngModel #id="ngModel">
                                                       <a style="margin-left: 5px" href="/reset">Mot de passe oublié?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <input type="button" value="Authentifier"
                                            class="btn btn-purple text-uppercase" [disabled]="f.invalid" (click)="Login(f.value)">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
