
<section class="ct-u-paddingTop100 ct-u-paddingBottom40">
        <div class="container">
            <div class="text-center ct-u-paddingBottom80">
                <h4 class="ct-u-sectionHeader ct-u-sectionHeader--primary text-uppercase">
                    Parametres du compte
                </h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="ct-personBox ct-personBox--thumb ct-personBox--primary">
                        <div class="ct-personBox-image">
                            <img src="/assets/images/demo-content/person1.jpg" alt="Person">
                        </div>
                        <div class="ct-personBox-description">
                            <div class="ct-u-moustache"></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <div class="ct-divided ct-divider--primary ct-u-marginBottom100 ct-u-backgroundGray">
    <div class="container">
    <div class="col-md-5 ct-u-paddingTop40 ct-u-paddingBottom30">
        <h3 class="text-uppercase ct-u-marginBottom50">Photo de profile</h3> 
    </div>
    <div class="col-md-6 col-md-offset-1 ct-u-paddingTop40">
        <div class="panel-group ct-accordion-type2" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa fa-fw fa-pencil"></i> Changer votre avatar
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <form role="form" action="" method="post" class="contactForm validateIt"
                              data-show-errors="true" name="f1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-12">
                                            <div class="form-group ">
                                                <input id="pic" placeholder="Avatar" required name="pic" type="file" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <button type="submit"
                                            class="btn btn-purple text-uppercase">
                                        Changer
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <div class="ct-divided ct-divider--primary ct-u-marginBottom100 ct-u-backgroundGray">
    <div class="container">
    <div class="col-md-5 ct-u-paddingTop40 ct-u-paddingBottom30">
        <h3 class="text-uppercase ct-u-marginBottom50">Details compte</h3> 
    </div>
    <div class="col-md-6 col-md-offset-1 ct-u-paddingTop40">
        <div class="panel-group ct-accordion-type2" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="fa fa-fw fa-pencil"></i> Changer vos details
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <form role="form" action="" method="post" class="contactForm validateIt"
                              data-show-errors="true" name="f2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-12">
                                            <div class="form-group ">
                                                <p>NOM</p><input type="text" id="nom" placeholder="NOM" required name="nom"
                                                       class="form-control"><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-12">
                                            <div class="form-group ">
                                                <p>PRENOM</p><input type="text" id="prenom" placeholder="PRENOM" required name="prenom"
                                                       class="form-control"><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-12">
                                            <div class="form-group ">
                                                <p>ADRESSE</p><input type="text" id="adresse" placeholder="ADRESSE" required name="adresse"
                                                       class="form-control"><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-12">
                                            <div class="form-group ">
                                                <p>NUMERO TELEPHONE</p><input type="number" id="tel" placeholder="NUMERO TELEPHONE" required name="tel"
                                                       class="form-control"><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-12">
                                            <div class="form-group ">
                                                <p>À PROPOS DE MOI</p><textarea id="bio" placeholder="À PROPOS DE MOI" required name="bio"
                                                       class="form-control"></textarea><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-12">
                                            <div class="form-group ">
                                                <p>MEILLEURE RECETTE</p><textarea id="recette" placeholder="MEILLEURE RECETTE" required name="recette"
                                                       class="form-control"></textarea><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-12">
                                            <div class="form-group ">
                                                <p>CONTACT</p><textarea id="contact" placeholder="CONTACT" required name="contact"
                                                       class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <button type="submit"
                                            class="btn btn-purple text-uppercase">
                                        Changer
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <div class="ct-divided ct-divider--primary ct-u-marginBottom100 ct-u-backgroundGray">
    <div class="container">
    <div class="col-md-5 ct-u-paddingTop40 ct-u-paddingBottom30">
        <h3 class="text-uppercase ct-u-marginBottom50">Mot de passe</h3> 
    </div>
    <div class="col-md-6 col-md-offset-1 ct-u-paddingTop40">
        <div class="panel-group ct-accordion-type2" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa fa-fw fa-pencil"></i> Changer votre mot de passe
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <form role="form" action="" method="post" class="contactForm validateIt"
                              data-show-errors="true" name="f3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-12">
                                            <div class="form-group ">
                                                <input id="oldpassword" placeholder="Ancien Mot De Passe" required name="oldpassword" type="password" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-12">
                                            <div class="form-group ">
                                                <input id="password" placeholder="Mot De Passe" required name="password" type="password" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-12">
                                            <div class="form-group ">
                                                <input id="passwordre" placeholder="VERIFICATION Mot De Passe" required name="passwordre" type="password" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <button type="submit"
                                            class="btn btn-purple text-uppercase">
                                        Changer
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
