<!-- ------------------ -->

<nav class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar">
        <li><a href="/">Accueil</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

<div class="ct-shopMenuMobile">
    <nav class="ct-shopMenuMobile-navbar">
        <ul class="list-unstyled">
            <li><a href="/login">S'authentifier</a></li>
            <li><a href="/register">S'inscrire</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/settings">Compte</a></li>
            <li><a href="/logout">Déconnecter</a></li>
        </ul>
    </nav>
</div>

<div id="ct-js-wrapper" class="ct-pageWrapper">

<div class="ct-navbarMobile">
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index-2.html"><img src="/assets/images/demo-content/logo-mobile.png" alt="Orlando Logo"> </a>
    <button type="button" class="navbarShop-toggle">
        <i class="fa fa-fw fa-user"></i>
    </button>
</div>

    <div class="ct-topBar ct-topBar--default">
        <div class="container">
           <div class="row">
               <div class="col-sm-6">
                   <nav class="ct-topBar-navigation pull-left">
                       <ul class="list-unstyled list-inline">
                           <li><a href="/login">S'authentifier</a></li>
                           <li><a href="/register">S'inscrire</a></li>
                           <li><a href="/profile">Profile</a></li>
                           <li><a href="/settings">Compte</a></li>
                           <li><a href="/logout">Déconnecter</a></li>
                       </ul>
                   </nav>
               </div>
           </div>
        </div>
    </div>
    <nav class="navbar navbar-default ct-navbar--logoright" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav yamm">
                <li><a href="/">Accueil</a></li>
            </ul>
            <ul class="nav navbar-nav yamm">
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    <!-- /.container -->
    </nav>

    <header class="ct-pageHeader ct-pageHeader--default">
        <div class="ct-pageHeader-leftSide">
           <img src="/assets/images/demo-content/logo.png" alt="Cupcake" height="300px">
        </div>
        <div class="ct-pageHeader-rightSide">
            <div class="ct-mediaSection ct-u-paddingBoth70" data-stellar-background-ratio="0.3"
                     data-height="300" data-type="parallax" data-bg-image="/assets/images/demo-content/image2.jpg"
                     data-bg-image-mobile="/assets/images/demo-content/image2.jpg">
                <div class="ct-mediaSection-inner"></div>
            </div>
        </div>
    </header>

<!-- ------------------ -->
<router-outlet>
</router-outlet>