
<section class="ct-u-paddingTop100 ct-u-paddingBottom40 ct-u-backgroundGray">
        <div class="container">
            <div class="text-center ct-u-paddingBottom80">
                <h4 class="ct-u-sectionHeader ct-u-sectionHeader--primary text-uppercase">
                    Profile de {{user.nom}} {{user.prenom}}
                </h4>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="ct-personBox ct-personBox--thumb ct-personBox--primary">
                        <div class="ct-personBox-image">
                            <img src="https://127.0.0.1:8001/uploads/userimgs/{{user.image}}" alt="Person">
                        </div>
                        <a href="#" class="ct-personBox-name">
                            {{user.nom}} {{user.prenom}}
                        </a>
                        <div class="ct-personBox-description">
                            <div class="ct-u-moustache"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <h5 class="ct-u-sectionHeader ct-u-sectionHeader--primary text-uppercase">
                        À propos de moi
                    </h5>
                    <div class="ct-u-paddingTop40 ct-u-paddingBottom50">
                        <p>{{user.bio}}</p>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <div class="ct-divided ct-divider--primary ct-u-marginBottom100">
    <div class="container">
    <div class="col-md-5 ct-u-paddingTop40 ct-u-paddingBottom30">
        <h3 class="text-uppercase ct-u-marginBottom50">Quelques chiffres</h3>
        <div class="flexslider ct-js-flexslider ct-flexslider--arrowType2" data-animationloop="false" data-directionnav="true" data-controlnav="false">
            <ul class="slides">
                <li>
                    <div class="ct-iconBox ct-iconBox--type2 ct-iconBox--primary">
                        <div class="ct-iconBox-icon">
                            <i class="fa fa-fw fa-camera"></i>
                        </div>
                        <div class="ct-iconBox-content">
                             <span class="ct-iconBox-counter ct-js-counter"
                                   data-ct-to="2135" data-ct-speed="5000">0</span>
                            <p class="ct-iconBox-description text-uppercase ct-fw-600">
                                Commandes passées/reçues
                            </p>
                        </div>
                    </div>
                    <div class="ct-iconBox ct-iconBox--type2 ct-iconBox--primary">
                        <div class="ct-iconBox-icon">
                            <i class="fa fa-fw fa-heart"></i>
                        </div>
                        <div class="ct-iconBox-content">
                             <span class="ct-iconBox-counter ct-js-counter"
                                   data-ct-to="76432" data-ct-speed="5000">0</span>
                            <p class="ct-iconBox-description text-uppercase ct-fw-600">
                                Participations au competitions 
                            </p>
                        </div>
                    </div>
                    <div class="ct-iconBox ct-iconBox--type2 ct-iconBox--primary">
                        <div class="ct-iconBox-icon">
                            <i class="fa fa-fw fa-map-marker"></i>
                        </div>
                        <div class="ct-iconBox-content">
                             <span class="ct-iconBox-counter ct-js-counter"
                                   data-ct-to="171" data-ct-speed="10000">0</span>
                            <p class="ct-iconBox-description text-uppercase ct-fw-600">
                                Competitions gagnés
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1 ct-u-paddingTop40">
        <div class="panel-group ct-accordion-type2" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa fa-fw fa-cutlery"></i> Meilleure recette
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        {{user.bio2}}
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="fa fa-fw fa-pencil"></i> contact
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <a href="https://www.facebook.com/bibiwars" style="color: white">{{user.bio3}}</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
