<strong>Mes reclamations </strong>
<table class="table">
  <tr>
    <th>Type</th>
    <th>Message</th>
    <th>Etat</th>
  </tr>
  <tbody *ngFor="let r of listRec; let i= index">
  <tr>
    <td>{{r.type}}</td>
    <td>{{r.imessage}}</td>
    <td>{{r.status}}</td>
    <td *ngIf="r.status === 'traite'"><a routerLink="/reclamation/detail/{{r.idReclamation}}" class="btn btn-success">Voir detailles</a></td>
    <td *ngIf="r.status === 'non traite'"><a routerLink="/reclamation/update/{{r.idReclamation}}" class="btn btn-info">Modifier</a></td>
    <td *ngIf="r.status === 'non traite'"><button (click)="delete(r.idReclamation)"  class="btn btn-danger">Supprimer</button></td>
  </tr>
  </tbody>
</table>
<a class="btn" routerLink="/reclamation/add">Passer une reclamation</a>
<a class="btn" routerLink="/admin/reclamations/stats">Statistiques reclamations</a>