<strong>Mes Patisseries</strong>
<table class="table">
  <tr>
    <th>nom</th>
    <th>email</th>
    <th>adresse</th>
    <th>theme</th>
  </tr>
  <tbody *ngFor="let p of listPat; let i= index">
    <tr>
      <td>{{p.nom}}</td>
      <td>{{p.email}}</td>
      <td>{{p.adresse}}</td>
      <td>{{p.theme}}</td>
      <td><a routerLink="../pat/produits/{{p.id}}" class="btn btn-success">Voir les produits</a></td>
      <td><a routerLink="../pat/update/{{p.id}}" class="btn btn-info">Modifier</a></td>
      <td><button (click)="delete(p.id)" class="btn btn-danger">Supprimer</button></td>
    </tr>
  </tbody>
</table>
<a routerLink="../pat/add">Ajouter une patisserie</a>
