
    <section class="ct-u-paddingTop100 ct-u-paddingBottom70 ct-u-backgroundGray">
        <div class="container">
            <div class="text-center ct-u-paddingBottom60">
                <h2 class="ct-u-sectionHeader ct-u-sectionHeader--primary text-uppercase">
                    Modifier Roles de X Y
                </h2>
            </div>
            <div class="row">
                <div class="col-sm-12 ct-u-paddingTop20">
                    <form #f="ngForm" role="form" action="" method="post" class="contactForm validateIt"
                              data-show-errors="true" name="f2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-12">
                                            <span class="checkbox">
                                                <input type="checkbox" id="role1" name="role1" value="CLIENT"
                                                    class="form-control">
                                                <label for="role1">Client</label>
                                            </span>
                                            <span class="checkbox">
                                                <input type="checkbox" id="role2" name="role2" value="PATISSIER"
                                                    class="form-control">
                                                <label for="role2">Patissier</label>
                                            </span>
                                            <span class="checkbox">
                                                <input type="checkbox" id="role3" name="role3" value="CLIENT"
                                                    class="form-control">
                                                <label for="role3">Admin</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <input type="submit" class="btn btn-purple text-uppercase" [disabled]="f.invalid" value="Changer" (click)="updateUser(f.value)">
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </section>
